<mat-toolbar class="mat-elevation-z6 navbar" color="primary">
    <div fxHide.gt-sm fxLayoutAlign="start center">
        <button class="menu-button" mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <span class="title">K&C Wedding</span>
    </div>
    <div fxHide.lt-md>
        <a class="brand" href="https://github.com/ngx-rocket">APP_NAME</a>
        <button mat-button routerLink="." fragment="location" routerLinkActive="active">
            <mat-icon>place</mat-icon>
            <span>Location</span>
        </button>
        <button mat-button routerLink="." fragment="accommodations" routerLinkActive="active">
            <mat-icon>night_shelter</mat-icon>
            <span>Accommodations</span>
        </button>
        <button mat-button routerLink="." fragment="registry" routerLinkActive="active">
            <mat-icon>store</mat-icon>
            <span>Registry</span>
        </button>
    </div>
</mat-toolbar>
