<div class="mat-typography home-container" fxLayout="row" fxLayoutAlign="center start">
    <div
        class="content-container"
        fxLayout="column"
        fxLayoutAlign="start center"
        fxFlex="100%"
        fxFlex.sm="90%"
        fxFlex.md="80%"
        fxFlex.lg="75%"
        fxFlex.gt-lg="70%"
    >
        <!-- <div class="banner-img-container" fxLayout="row" fxLayoutAlign="center center">
            <img class="banner-img" src="assets/kelsey_collin_banner.jpg" alt="couple photo" />
        </div>

        <span class="mat-display-3 wedding-couple">Kelsey & Collin</span> -->

        <div class="banner-img-container" fxLayout="row" fxLayoutAlign="center center">
            <img class="banner-img" src="assets/kelsey_collin_banner.jpg" />
            <span class="couple-name">Kelsey & Collin</span>
        </div>

        <span class="mat-subheading-1">Monday, March 4th, 2019</span>

        <mat-divider></mat-divider>

        <section id="location" fxLayout="column" fxLayoutAlign="start center">
            <h2>Location</h2>
            <p>
                <a mat-button href="https://www.theturnvintage.com/" target="_blank">
                    <mat-icon>web</mat-icon>
                    <span>828 The Turn Website</span>
                </a>
            </p>
            <p>
                <a mat-button href="https://g.page/828theturn?share" target="_blank">
                    <mat-icon>navigation</mat-icon>
                    <span>828 The Turn, 828 Monmouth St, Newport, KY 41071</span>
                </a>
            </p>
            <iframe
                fxHide.lt-md
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3096.7841572621046!2d-84.49349678390418!3d39.0886139432539!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8841b113ecca0a89%3A0x22bde8aa6a47b9d5!2s828%20The%20Turn!5e0!3m2!1sen!2sus!4v1629928263678!5m2!1sen!2sus"
                width="600"
                height="450"
                style="border: 0"
                allowfullscreen=""
                loading="lazy"
            ></iframe>
        </section>

        <mat-divider></mat-divider>

        <section fxLayout="column" fxLayoutAlign="start center">
            <h2 id="accommodations">Accommodations</h2>
            <p>
                <a mat-button href="">
                    <mat-icon>web</mat-icon>
                    <span>Link to hotel site</span>
                </a>
            </p>
            <p>
                <a mat-button href="">
                    <mat-icon>navigation</mat-icon>
                    <span>link to navigation to hotel</span>
                </a>
            </p>
            <p>info on hotel</p>
        </section>

        <mat-divider></mat-divider>

        <section fxLayout="column" fxLayoutAlign="start center">
            <h2 id="registry">Registry</h2>
            <p>
                <a mat-button href="https://smile.amazon.com/" target="_blank">
                    <mat-icon svgIcon="amazon_logo"></mat-icon>
                    <span>Amazon Registry</span>
                </a>
            </p>
        </section>
    </div>
</div>

<canvas class="confetti-canvas" id="canvas"></canvas>
