@import "src/theme/theme-variables";

.home-container {
    padding-top: 1em;
    padding-bottom: 1em;
}

.couple-name {
    font: 400 56px Dancing;
}

.wedding-short-info {
    font: 400 20px Dancing;
}

.nav-toolbar {
    background-color: antiquewhite;
    margin-top: 10px;
    margin-bottom: 10px;
}

mat-divider {
    align-self: normal;
}

.subheader {
    font: 400 32px Dancing;
    @media #{$mat-gt-xs} {
        padding: 0 50px;
    }
    @media #{$mat-xs} {
        padding: 0 35px;
    }
}

.subheader-img {
    @media #{$mat-gt-xs} {
        height: 100px;
    }
    @media #{$mat-xs} {
        height: 80px;
    }
}

.left-subheader-img {
    transform: rotate(-90deg);
}

.right-subheader-img {
    transform: rotate(90deg);
}

.confetti-canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 99999;
}
